* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  background: url('../img/1.jpg')  no-repeat;
  background-size: cover;
  background-position: center;
  color: #ededed;
}
/* .bg-yg{
  background: yellowgreen;
} */
.header-top {
    font-weight: bold;
  /* position: fixed; */
  top: 0;
  left: 0;
  /* width: 100px; */
  padding:20px , 10px ;
  background: transparent;
  display: flex;
  justify-content: space-between ;
  align-items: center;
  z-index: 100;
}
.logo {
  font-size:  25px;
  color: #ededed;
  text-decoration: none;
  /* font-weight: 600; */
}
.logo:hover{
  background-color: greenyellow;
  color: rgba(245, 33, 33, 0.776);
}
.nav-link {
font-size: 18px;
color: #ededed;
font-weight: 500;
margin-left: 35px;
transition: .3s;
}
.navbar-nav .nav-link.active{
  color: #00abf0;
}
 .nav-link:hover{
  color: #00abf0;
}
.home {
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 0 10%;
}
.home-content {
  max-width: 600px;
}
.home-content h1 {
font-size: 56px;
font-weight: 700;
line-height: 1.2;
}
.home-content h1:hover{
  color: peru;
}
.home-content h3 {
  font-size: 32px;
  font-weight: 700;
  color :#00abf0;
}
.home-content p {
  font-size: 16px;
  margin:  20px 0 40px;
}
.home-content .btn-box {
  display: flex;
  justify-content: space-between;
  width: 345px;
  height: 50px;
}
.btn-box a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 60px;
  background: #00abf0;
  border: 2px solid #00abf0;
  border-radius: 8px;
  font-size: 19px;
  color: #081b29;
  font-weight:600;
  letter-spacing: 1px;
  text-decoration: none;
  z-index : 1; 
}
.btn-box a:nth-child(2) {
  background: transparent;
  color : #00abf0;
}
.btn-box a:hover {
  background-color: red;
  transition: .5s;
}
.btn-box a:nth-child(2):hover{
  background-color: yellow;
  transition: .5s;
}
.end {
  /* position: absolute; */
  padding: 50px;
  bottom: 120px;
  width: 600px;
  justify-content: space-between;
  display: flex;
}
.end a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background: transparent;
  border: 2px solid #00abf0;
  color: #00abf0;
  font-size: 20px;
  text-decoration:  none;
  border-radius: 50%;
}
.end a:hover {
  background :#ededed;
  transition: .3s;
}




